.graySectionButtons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grayButton {
    width: 55px;
    height: 55px;
    border: 2px solid rgb(81,81,81);
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s;
    padding: 8px;
}

.grayButton:hover {
    border-color: rgb(192,57,54);
}

.cs-price {
    position: relative; 
    bottom: -70px; 
}

.minecraft-price {
    position: relative;
    bottom: -42%; 
}

@media screen and (min-width: 650px) and (max-width: 2000px) {
    .carousel .carousel-item {
        height: 600px;
      }
    
    .carousel-item img {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 500px;
    }
    
    .small {
        font-size: 24px;
        position: absolute;
        top: 0px;
        right: 30px;
    }
    
    .pre {
        font-family: monospace;
        font-size: .875em;
    }
    
    .double-underline {
        border-bottom: 3px double;
    }

    .cs-price {
        left: 53%;
    }

    .minecraft-price {
        left: 53%;
    }
}


@media screen and (max-width: 650px) {
    pre {
        white-space: pre-wrap;
        max-width: 100%;
    }

    .small {
        visibility: hidden;
    }

    .cs-price {
        bottom: 0px;
        left: 0%;
    }

    .minecraft-price {
        bottom: 0px;
        left: 0%;
    }
}