.carousel .carousel-item {
    height: 600px;
  }

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 500px;
}

.graySectionButtons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grayButton {
    width: 55px;
    height: 55px;
    border: 2px solid rgb(81,81,81);
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s;
    padding: 8px;
}

.grayButton:hover {
    border-color: rgb(192,57,54);
}

.small-text {
    font-size: 24px;
    position: absolute;
    top: 0px;
    right: 30px;
}

.pre {
    font-family: monospace;
    font-size: .875em;
}

.double-underline {
    border-bottom: 3px double;
}